#warning-responses {
  display: none;
}
#symptoms-responses {
  display: none;
}
#strategy-responses {
  display: none;
}

#high-result {
  display: none;
}

#medium-result {
  display: none;
}

#low-result {
  display: none;
}
